<div class="container">
	<div class="header text-center">
	    <h2 class="text-blue">Blogs</h2>
	    <h4>Blogs I've written for myself and other companies</h4>
	    <hr>
	</div>
	<div class="projects">
		<br>
		<a href="http://radario.cc/blog/3-top-samples-event-registration-confirmation-emails-examples">
			<h2>3 Top Event Registration Confirmation Emails Examples</h2>
		</a>
		<p>Rank #1 in Google for Event Registration Confirmation Emails Examples</p>
	 	<br>
	 	<br>
	 	<a href="http://radario.cc/10-tools-tools-to-help-you-create-an-amazing-event">
			<h2>10 Tools to Help You Create an Amazing Event</h2>
		</a>
		<p>Rank #6 in Google for Event Registration Confirmation Emails Examples</p>
		<br>
	 	<br>
	 	<a href="https://www.eventbrite.com/blog/events-crm-ds0c/">
			<h2>How a CRM Can Help You Scale for Bigger and Bigger Events</h2>
		</a>
		<p>Guest posted and featured on Eventbrite for Radario.cc</p>
		<br>
	 	<br>
	 	<a href="https://www.eventbrite.com/blog/track-these-5-important-metrics-to-improve-event-roi-ds00/">
			<h2>Track These 5 Important Metrics to Improve Event ROI</h2>
		</a>
		<p>Guest posted and featured on Eventbrite for EventNinja.io</p>
	</div>
</div>
</div>