<div class="container">
	<div class="header text-center">
	    <h2 class="text-blue">Books</h2>
	    <h4>Books I've read and enjoyed</h4>
	    <!--<p class="subheader">110 travels - 97 Cities - 33 Countries</p>-->
	    <hr>
	</div>

	<div class="row">
		<div class="col-md-4">
			<div class="book_container">
				<div class="row">
					<div class="col-sm-6">
						<a target="_blank" href="https://amzn.to/2ElyCKv">
							<div class="book_image" style="background-image: url(<%= asset_path 'fluff.jpg' %>);">	
							</div>
						</a>
					</div>
					<div class="col-sm-6">
						<p>Outbound Sales, No Fluff</p>
						<p>Rex Biberston</p>
						<a href="https://amzn.to/2ElyCKv">
							<button type="button" class="btn btn-light">Buy Now</button>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="book_container">
				<div class="row">
					<div class="col-sm-6">
						<a target="_blank" href="https://amzn.to/2EcYJTB">
							<div class="book_image" style="background-image: url(<%= asset_path 'sales.jpg' %>);">	
							</div>
						</a>
					</div>
					<div class="col-sm-6">
						<p>The Sales Acceleration ...</p>
						<p>Mark Roberge</p>
						<a href="https://amzn.to/2EcYJTB">
							<button type="button" class="btn btn-light">Buy Now</button>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="book_container">
				<div class="row">
					<div class="col-sm-6">
						<a target="_blank" href="https://amzn.to/2EbBA3Y">
							<div class="book_image" style="background-image: url(<%= asset_path 'rich.jpg' %>);">	
							</div>
						</a>
					</div>
					<div class="col-sm-6">
						<p>Rich Dad Poor Dad</p>
						<p>Robert T. Kiyosaki</p>
						<a href="https://amzn.to/2EbBA3Y">
							<button type="button" class="btn btn-light">Buy Now</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>