<style type="text/css">
	
.book_container {
    padding: 12px;
    height: 100%;
}

.book_image {
    height: 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 156px;
    -webkit-transition: all 150ms ease-out;
    transition: all 150ms ease-out;
}

</style>


<div class="container">
	<div class="header text-center">
	    <h2 class="text-blue">Books</h2>
	    <h4>Books I've read and enjoyed</h4>
	    <!--<p class="subheader">110 travels - 97 Cities - 33 Countries</p>-->
	    <hr>
	</div>

	<div class="row">
		<div class="col-md-4">
			<div class="book_container">
				<div class="row">
					<div class="col-sm-6">
						<a target="_blank" href="https://www.amazon.co.uk/dp/B06XW37TXW">
							<div class="book_image" style="background-image: url(https://images-na.ssl-images-amazon.com/images/I/41TGCWYV5DL._SL260_.jpg);">	
							</div>
						</a>
					</div>
					<div class="col-sm-6">
						<p>Magnetic Nylon Braided Android USB Cable</p>
						<p>Anthony Roberts</p>
						<p>Buy Now</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="book_container">
				<div class="row">
					<div class="col-sm-6">
						<a target="_blank" href="https://www.amazon.co.uk/dp/B06XW37TXW">
							<div class="book_image" style="background-image: url(https://images-na.ssl-images-amazon.com/images/I/41TGCWYV5DL._SL260_.jpg);">	
							</div>
						</a>
					</div>
					<div class="col-sm-6">
						<p>Magnetic Nylon Braided Android USB Cable</p>
						<p>Anthony Roberts</p>
						<p>Buy Now</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="book_container">
				<div class="row">
					<div class="col-sm-6">
						<a target="_blank" href="https://www.amazon.co.uk/dp/B06XW37TXW">
							<div class="book_image" style="background-image: url(https://images-na.ssl-images-amazon.com/images/I/41TGCWYV5DL._SL260_.jpg);">	
							</div>
						</a>
					</div>
					<div class="col-sm-6">
						<p>Magnetic Nylon Braided Android USB Cable</p>
						<p>Anthony Roberts</p>
						<p>Buy Now</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>