    <footer id="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/books">Books</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/projects">Products</a></li>
            <li><a href="/join">Newsletter</a></li>
        </ul>
    </footer>

    <!-- Page Content -->
    <div class="page">
    <div class="container">


        <div class="row">
            <div class="col-md-8 col-sm-12">
                <h1>Hi, I'm <br>Anthony Francis.</h1>
                <h3>I'm an Entrepreneur and Business Development Manager</h3>
                <p>I also sell products on <a href="http://inoveryourhead.net/trust-agents">Amazon</a>, <a href="http://inoveryourhead.net/trust-agents">blog</a> and <a href="http://inoveryourhead.net/trust-agents">code</a>. You can read <a href="http://inoveryourhead.net/trust-agents">more about me here</a>, or follow me on <a href="http://inoveryourhead.net/trust-agents">Twitter</a>, <a href="http://inoveryourhead.net/trust-agents">Facebook</a>, or <a href="http://inoveryourhead.net/trust-agents">Linkedin</a>.  
                <br>
                <br>
                You can also subscribe to me through RSS or email:
                </p>
                <h3><a href="http://inoveryourhead.net/trust-agents">Contact Me</a>.</h3>
            </div>
        </div>
        <!-- /.row -->
    </div>
</div>