<div class="container">
	<div class="header text-center">
	    <h2 class="text-blue">Newsletter</h2>
	    <h4>Where I've been in the world</h4>
	    <p class="subheader">110 travels - 97 Cities - 33 Countries</p>
	    <hr>
	  </div>
</div>