
<style type="text/css">
	
.product_container {
    padding: 12px;
    height: 100%;
}

.product_image {
    height: 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 156px;
    -webkit-transition: all 150ms ease-out;
    transition: all 150ms ease-out;
}

</style>

<div class="container">
	<div class="header text-center">
	    <h2 class="text-blue">Products</h2>
	    <h4>Products I sell on Amazon</h4>
	    <hr>
	</div>

	<div class="row">
		<div class="col-md-4">
			<div class="product_container">
				<div class="row">
					<div class="col-sm-6">
						<a target="_blank" href="https://www.amazon.co.uk/dp/B06XW37TXW">
							<div class="product_image" style="background-image: url(https://images-na.ssl-images-amazon.com/images/I/41TGCWYV5DL._SL260_.jpg);">	
							</div>
						</a>
					</div>
					<div class="col-sm-6">
						<p>Magnetic Nylon Braided Android USB Cable</p>
						<p>Anthony Roberts</p>
						<p>Buy Now</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="product_container">
				<div class="row">
					<div class="col-sm-6">
						<a target="_blank" href="https://www.amazon.co.uk/Lessons-21st-Century-Yuval-Harari/dp/0525512179/ref=as_li_ss_tl?ie=UTF8&linkCode=sl1&tag=fashs-21&linkId=1a36f596274ecf7814be5927f231d823&language=en_GB">
							<div class="product_image" style="background-image: url(https://images-na.ssl-images-amazon.com/images/I/61EwehLbrSL._SX679_.jpg);">	
							</div>
						</a>
					</div>
					<div class="col-sm-6">
						<p>Apple AirPods Protective Sticker Skin Cover</p>
						<p>Anthony Roberts</p>
						<p>Buy Now</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="product_container">
				<div class="row">
					<div class="col-sm-6">
						<a target="_blank" href="https://www.amazon.co.uk/dp/B079P4JZFD">
							<div class="product_image" style="background-image: url(https://images-na.ssl-images-amazon.com/images/I/51OBS%2BD9nYL._SL1000_.jpg);">	
							</div>
						</a>
					</div>
					<div class="col-sm-6">
						<p>Portable Outdoor Bluetooth Wireless Speaker</p>
						<p>Jakcom</p>
						<p>Buy Now</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <div class="col-sm-">
	      	<div class="media">
				  <img class="mr-3" src="https://images-na.ssl-images-amazon.com/images/I/41TGCWYV5DL._SL260_.jpg" alt="Generic placeholder image">
				  <div class="media-body">
				    <h5 class="mt-0">Media heading</h5>
				    Cras sit amet nibh libero, in gravida nul
				  </div>
			</div>
	    </div>
	    <div class="col-sm-4">
	      <div class="product_container">
	      	hello
	      </div>
	    </div>
	    <div class="col-sm-4">
	      <div class="product_container">
	      	hello
	      </div>
	    </div> -->