<div class="container">
	<div class="header text-center">
	    <h2 class="text-blue">Projects</h2>
	    <h4>Businesses and projects I have worked and working on</h4>
	    <!-- <p class="subheader">Past and Past</p> -->
	    <hr>
	</div>
	<div class="projects">

		<!--
		<br>
		<u><p>Current Projects</p></u>
		<a href="">
			<h2>EventNinja</h2>
		</a>
		<p>EventNinja is the leading analytics solution for Eventbrite.</p>
	 	<br>
	 	<br> -->
	 	<u><p>Previous Projects</p></u>
	 	<a href="https://www.producthunt.com/posts/eventninja">
			<h2>EventNinja</h2>
		</a>
		<p>EventNinja was the leading analytics solution for Eventbrite.</p>
	</div>
</div>