<div class="container">
	<div class="header text-center">
	    <h2 class="text-blue">Projects</h2>
	    <h4>Businesses and projects I have worked and working on</h4>
	    <p class="subheader">Past and Past</p>
	    <hr>
	  </div>
</div>